<?xml version="1.0"?>
<config>
    <modules>
        <Silpion_DPD>
            <version>0.1.0</version>
        </Silpion_DPD>
    </modules>
    <global>
        <helpers>
            <silpion_dpd>
                <class>Silpion_DPD_Helper</class>
            </silpion_dpd>
        </helpers>
        <models>
            <silpion_dpd>
                <class>Silpion_DPD_Model</class>
            </silpion_dpd>
        </models>
        <resources>
            <silpion_dpd_setup>
                <setup>
                    <module>Silpion_DPD</module>
                </setup>
            </silpion_dpd_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <silpion_dpd>
                <use>admin</use>
                <args>
                    <module>Silpion_DPD</module>
                    <frontName>dpd</frontName>
                </args>
            </silpion_dpd>
        </routers>
    </admin>    
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <module_button>
                        <class>silpion_dpd/observer</class>
                        <method>addButtonOfYourChoice</method>
                    </module_button>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <silpion_dpd>
                <use>standard</use>
                <args>
                    <module>Silpion_DPD</module>
                    <frontName>silpion_dpd</frontName>
                </args>
            </silpion_dpd>
        </routers>
        <layout>
            <updates>
                <silpion_dpd>
                    <file>silpion_dpd.xml</file>
                </silpion_dpd>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <silpion_dpd_checkout_type_onepage_save_order>
                        <class>Silpion_DPD_Model_Observer</class>
                        <method>savePointToOrder</method>
                    </silpion_dpd_checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
        </events>   
    </frontend>
    <default>
        <carriers>
            <dpd>
                <active>0</active>
                <model>silpion_dpd/carrier</model>
            </dpd>
            <dpd_courier>
                <active>1</active>
                <model>silpion_dpd/carrier_courier</model>
                <title>DPD Courier</title>
                <name>DPD</name>
                <price>10.00</price>
                <handling_type>F</handling_type>
                <handling_fee>0</handling_fee>
                <sallowspecific>0</sallowspecific>
                <specificcountry></specificcountry>
                <sort_order>1</sort_order>
            </dpd_courier>
            <dpd_pickup>
                <active>1</active>
                <model>silpion_dpd/carrier_pickup</model>
                <title>DPD Pickup</title>
                <name>DPD</name>
                <price>10.00</price>
                <handling_type>F</handling_type>
                <handling_fee>0</handling_fee>
                <sallowspecific>0</sallowspecific>
                <specificcountry></specificcountry>
                <sort_order>1</sort_order>
            </dpd_pickup>
        </carriers>
    </default>
</config>
